@charset "utf-8";
/* CSS Document */

body{padding:0px; margin:0px auto; -webkit-text-size-adjust:none; color:#231816; font-size:12px; font-family: microsoft yahei,simsun,tahoma, Srial, helvetica, sans-serif; outline:medium;behavior: url("../css/csshover.htc");}
*{margin:0; padding:0; font-family: microsoft yahei;}
ul, li{list-style:none}
li{
    vertical-align: top
}
table{border-collapse: collapse;}
table  td{empty-cells:show;}
textarea { resize : none; } 
img{border:none; padding:0px; margin:0px;}
a{ text-decoration: none;color:#505050;}
a:hover { color:#21984e;}
.fl{float:left}
.fr{float:right}
.yel{ color:#f58100}
.hui{ color:#767676}
.green{color:#21984e}
.clearfix:after{display: block; content: '020'; clear: both; height: 0; visibility: hidden;}
.clearfix{zoom:1;}
.y_btn{
    cursor: pointer;
}
.y_btn:hover{
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
input{
    outline: none;
}
/*首页*/
.b_top{ width:100%;height:30px; background:#f7f7f7; border-bottom:1px solid #e0e1e1; line-height:30px;}
.b_top_1100{width:1100px; margin:0 auto}
.b_1100{ width:1100px; margin:0 auto; overflow:hidden;}
.b_top a:hover{text-decoration:none;}
/*commonStyle通用样式*/
.l_com_color,
.l_foot,
.l_foot > li > a  {
    color: #898989;
}
/*set font & color*/
.l_font_18 {
    font-size: 18px;
}
.l_font_16 {
    font-size: 16px;
}
.l_font_14,
.l_dl > dd {
    font-size: 14px;
}
.l_font_24,
.l_dl > dt {
    font-size: 24px;
}
.l_font {
    font-family: '宋体';
}
.l_font_color {
    color: #7f7f7f;
}
.l_font_color_2 {
    color: #231816;
}
.l_font_color_1 {
    color: #b3b3b3;
}
.y_small_list .l_bd_bt {
    border-bottom: 2px solid #22984e;
}
.l_font_yh {
    line-height: 14px;
    font-family: microsoft yahei;
}
/*set margin */
.l_mg_top_14 {
    margin-top: 14px;
}
.l_mg_top_10 {
    margin-top: 10px;
}
.l_mg_top_5 {
    margin-top: 5px;
}
.l_mg_rg_5 {
    margin-right: 5px;
}
.l_mg_lf_30 {
    margin-left: 30px;
}
.l_mg_lf_8 {
    margin-left: 8px;
}
.l_mg_li_1 li {
    width: 380px;
    margin: 2px 0;
}
.l_mg_top_56 {
    margin-top: 56px;
}
.l_mg_top_20 {
    margin-top: 20px;
}
/*set padding*/
.l_pd_rg_10 {
    padding-right: 10px;
}
.l_pd_lf_10 {
    padding-left: 10px;
}
.l_pd_lf_5 {
    padding-left: 7px;
}
.l_pd_lr_7 {
    padding: 0 17px;
}
.l_marg {
    margin: 7px 23px;
}
.l_pd_top_5 {
    padding-top: 5px;
}
.l_lh_26 {
    line-height: 26px; 
}
/*set align & other*/
.l_ver {
    vertical-align: middle;
}
.l_com_align {
    text-align: center;
}
.l_lh_38 {
    line-height: 38px;
}
.l_lh_24 {
    line-height: 25px;
}
.l_mg_bt_7 {
    display: block;
    margin-bottom: 10px;
}
.l_mg_bt_7:hover{
    text-decoration: underline;
}
.l_posi {
    display: block;
    margin: 0 auto;
}
/*column module栏目模块*/
/*common公共*/
.l_guild {
    color: #f08300;
    padding: 10px 0;
    margin-bottom: 5px;    
    border-bottom: 3px solid #f08300;
}
.icon {
    display: inline-block;
    width: 4px;
    height: 16px;
    margin-right: 10px;
    background-color: #f08300;
    vertical-align: middle;
}
.l_rect {    
    border: 1px solid #e4e4e4;
}
.l_title {
    line-height: 30px;    
    border-bottom: 2px solid #21984e;
}
.l_left {
    width: 75px;
    padding-top: 2px;
    color: white;
    background-color: #21984e;
}
/*private私有*/
.l_wh {
    width: 359px;
    height: 206px;
}
.l_biaoti {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    font: 16px;
    font-weight: 500;
}
.l_content {
    padding: 9px; 
}
.l_content > li {
    padding: 0 0 0 10px;
    background: url(../images/jinglingtu.png) no-repeat -30px -60px;
    overflow: hidden;
}
.y_small_list .l_content li{
    line-height: 24px;
}
/*check air检测空气*/
.air {
    padding: 10px 4px;  
}
.position {
    padding: 20px 0;
}
.l_qhcs {
    cursor: pointer;
}
/*show空气质量展示*/
.l_circle {
    display: inline-block;
    width: 56px;
    text-align: center;
    border-radius: 50%;
}
.l_circle_pre {
    height: 30px;    
    padding: 13px 0;    
}
.l_circle_af {
    height: 36px;
    padding: 10px 0;    
    line-height: 18px;
}
.l_dl {
    width: 87px;
}
/*show color 颜色*/
.l_you {
    color: #22984e;
    border: 2px solid #22984e;
    margin-bottom: 8px;
}
.l_liang {
    color: #d6c60f;
    border: 2px solid #d6c60f;
    margin-bottom: 8px;
}
.l_cha {
    color: #ec7e22;
    border: 2px solid #ec7e22;
    margin-bottom: 8px;
}
.l_l {
    color: #d03939;
    border: 2px solid #d03939;
    margin-bottom: 8px;
}
.l_zongdu {
    color: #9b1271;
    border: 2px solid #9b1271;
    margin-bottom: 8px;
}
.l_yanzhong {
    color: #420045;
    border: 2px solid #420045;
    margin-bottom: 8px;
}
/*footer页脚*/
.l_footer {
    width: 100%;
    height: 240px;
    background-color: #343434;
}
.l_foot {
    display: inline-block;
    width: 780px;
    line-height: 32px;
}
/*攻防*/
.l_icon {
    padding: 18px 0 18px 15px;
}
.l_icon p {
    line-height: 23px;
}
.l_icon li {
    width: 151px;
    float: left;
    margin-right: 13px;
}
.l_icon {
    text-align: center;
}
.l_bg {
    display: inline-block;
    padding-left: 18px;
    background: url(../images/jinglingtu.png) -390px -414px;
}
/*需方服务*/
/*top*/
.l_xfml {
    padding: 6px 7px;
    line-height: 21px;
}
.l_logo_1 {
    width: 62px;
    height: 62px;
    margin-right: 9px;
}
.l_xfml li {
    float: left;
    width: 400px;
    padding: 7px 11px 7px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    *padding-top: 4px
}
.l_ct li {
    width: 100%;
    overflow: hidden;
    padding: 15px 11px 15px 0; 
}
.l_need_lf,
.l_need_rg {
    width: 45%;
}
/*middle*/
.l_date,
.l_date span {
    text-align: center;
}
.l_date {
    font-size: 12px;
    width: 240px;
}
.l_date span {
    display: inline-block;
    width: 45%;
}
.l_hbgc li {
    border-bottom: 1px dotted #ddd;
    overflow: hidden;
}
.l_hbgc .l_border_none,
.l_border_none {
    border: none;
}
/*bottom*/
.l_wh_2,
.l_wh_3 {
    height: 274px;    
}
.l_wh_2 {
    width: 837px;
    overflow: hidden;
}
.l_wh_3 {
    width: 248px;
}
.l_title_2 {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #ddd;
}
.l_left_2 {
    width: 75px;    
    height: 34px;
    background-color: white;
    border-right: 1px solid #ddd;
}
/*技术服务*/
/*common*/
/*left*/
.l_logo li {
    width: 33%;
}
.l_lh_30 {
    line-height: 28px;
}
.l_logo li img {
    width: 56px;
    height: 56px;
    margin: 1px 0;
}
.l_logo li img,
.l_show li,
.l_container {
    border: 1px solid #ddd;    
}
/*center*/
.l_fl > li {
    float: left;
    text-align: center;
}
.l_show li {  
    margin-right: 7px;
    width: 108px;
    height: 108px;
}
/*right*/
.l_container {
    margin: 12px;
    position: relative;
}
.l_container img,
.l_container {
    width: 146px;
    height: 146px;
}
.l_container img,
.l_container a,
.mask {
    position: absolute;
}
.l_container > a {
    width: 100%;
    text-align: center;
    color: white;
    bottom: 6px;
}
.mask {
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: black;
    opacity: 0.7;
}
/*技术服务栏目*/
.l_lxfs { 
    text-align: center;
    color: #231816;
    margin-top: 16px;
}
.l_wrap {
    display: inline-block;
    width: 500px;
}
.l_logo_2 {
    margin-right: 30px;
}
.l_zyjg {
    width: 100%;
}
.l_zyjg p {
    line-height: 22px;
}
.l_person {    
    display: block;
    margin: 0 10px 10px 0;
    overflow: auto;
}
.l_logo_4 {
    display: block;
    margin: 10px auto;
}
.l_down {
    float: right;
    width: 113px;
    height: 34px;
    margin-top: 20px;
    padding-left: 10px;    
    background-color: #f58100;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}
.l_down_icon:hover {
    color: white;
}
.l_down_icon {
    color: white;    
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/jinglingtu.png) no-repeat -396px -208px;
}
.l_icon_lx,
.l_icon_dz {
    display: inline-block;
    margin-left: 24px;
    padding-left: 18px;
}
.l_icon_dz {
    background: url(../images/jinglingtu.png) no-repeat -396px -323px;
}
.l_icon_lx {
    background: url(../images/jinglingtu.png) no-repeat -388px -169px;
}
.l_zxxz:hover,
.l_zxyd:hover {
    color: white;
}
.l_zxxz,
.l_zxyd {
    display: inline-block;
    width: 63px;
    height: 20px;
    margin: 5px 5px 0 0;
    color: white;
    text-align: center;
}
.l_zxxz {
    background-color: #f58400;
}
.l_zxyd {
    background-color: #21984e;
}
.l_download {
    padding: 10px 20px;
    display: block;
    background: url(../images/jinglingtu.png) no-repeat -400px -267px;
}
.y_zj_list{
    display: block;
    overflow: hidden;
}
.y_zj_list li{
    width: 48%;
    vertical-align: middle;
    float: left;
    display: block;
    height: 110px;
    padding: 15px 11px 15px 0;
}
.y_zj_list li a.y_img{
    width: 107px;
    height: 107px;
    display: block;
    text-align: center;
    margin-right: 15px;
    float: left;
    border: 1px solid #dddddd;
}
/*banner广告*/
.l_rect,
.banner,
.banner1,
.banner2,
.banner3 {
    margin-top: 5px;
    margin-bottom: 5px;    
}
.banner,
.banner1,
.banner2,
.banner3 {
    width: 100%;
    height: 85px;
}
.l_mg_0 {
    margin-top: 0;
    margin-bottom: 10px;
}
.banner {
    background: url(../images/del/ad.png) no-repeat center; 
}
.banner1 {
    background: url(../images/del/ad1.png) no-repeat center; 
}
.banner2 {
    background: url(../images/del/ad2.png) no-repeat center; 
}
.banner3 {
    background: url(../images/del/ad3.png) no-repeat center; 
}
.b_nav{ height:63px; border:1px solid #ddd; overflow:hidden; padding:18px 8px 24px; margin-bottom:10px}
/*.b_header{ overflow:hidden;}*/
.b_sy_ul li{ float:left; padding:0 10px; height:30px; line-height:30px; position:relative}
.b_border1{ background: url(../images/heixian_06.jpg) no-repeat left center;}
.b_shopping_list{
    background:url(../images/xiaotu01.jpg)  left center no-repeat #f58100;
    color: #FFF;
    text-align: center;
    height: 13px;
    line-height: 13px;
    margin-top: 8px;
    min-width: 16px;
    padding:0 2px 0 6px;
    border-radius:0 3px 3px 0;
	overflow:hidden;
	margin-left:3px
}
.xian_kefu{ background:url(../images/jinglingtu.png) -30px -21px no-repeat;}
.b_sy_ul .b_kefu{ background:url(../images/jinglingtu.png) -386px -21px no-repeat; padding-left:17px;}
.b_sy_ul .b_weixin{ background:url(../images/jinglingtu.png) -282px -22px no-repeat; padding-left:20px; margin-left:5px}

.b_kefu .b_kftc{position: absolute; width:110px; text-align:center; box-shadow: 0 1px 2px #ccc;background: #fff;z-index: 10;border:1px solid #efefef; border-top:0px; padding: 15px 0px;}
.b_kftc span{display: block; margin: 0px auto;}
.b_wxewm {
position: absolute;
width: 130px;
border: 1px solid #cccccc;
padding-top: 135px;
background:url('../images/city/ewm.jpg') no-repeat top #FFF;
z-index: 10;
text-align: center;
display: none;
cursor: pointer;
padding-bottom: 5px;
line-height: 20px;
font-size: 12px;
background-size: 130px 130px;
height: 40px;
overflow: hidden;
}
.j_search{ height:104px; width:552px; margin:7px 0 0 40px;}
.j_search ul{ width:552px; overflow:hidden; float:left; padding-top:16px; }
.j_search ul li{  padding:0 10px; height:22px; line-height:22px; float:left; margin-right:10px; color:#464545; font-size:12px; cursor:pointer}
.j_search ul li.hover{color:#f58100;}
.j_search_input{ width:445px; height:34px; border:2px solid #f58100; padding-left:8px; border-right:0px; float:left; outline:medium; line-height:34px; color:#666;}
.j_search_word{ width:90px; height:38px; line-height:38px; border:0px; background: url(../images/jinglingtu.png) -10px -97px no-repeat #f58100; color:#fff; float:left; font-size:16px; cursor:pointer; padding-left:20px}
.j_keywoeds{ line-height:30px; float:left; color:#a9a9a9; width:632px;}
.j_keywoeds a{ padding:0 8px;  color:#a9a9a9;}
.j_keywoeds a:hover{ color:#ff4342; text-decoration: none;}
.j_search_word:hover{
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity:0.8;
}
.b_mom_tongdao{ display:block;margin-left:8px;width:99px; height:36px; color: #949494; line-height:36px; background:#fff; border:1px solid #d5d5d5;font-size:16px; cursor:pointer; text-align:center;transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0; -ms-transition: all 0.2s linear 0; -o-transition: all 0.2s linear 0; -wenkit-transition: all 0.2s linear 0;}
.b_mom_tongdao:hover{
	border-color:#21984e ; 
	box-shadow: 0px 1px 14px 0px rgba(152,150,150,0.9); 
	margin-top: -2px;	
}
.b_tongdao{ margin-top:46px}
/*快捷通道弹框*/
.y_input_ty{width:525px; height:70px; border:1px solid #ddd ; color:#666; padding:8px; line-height:22px;}
.y_tanchu_input{ height:26px; width: 125px; line-height:26px; padding:0 5px; border:1px solid #ddd;vertical-align:middle;}
.y_tanchu_btn01{width:122px; height:30px; line-height:30px; background:#f58100; color:#fff; border:0px; font-size:12px; cursor:pointer;margin-top:6px; }
.y_tanchu_btn {
    width: 122px;
    height: 30px;
    line-height: 30px;
    background: #ee3a3d;
    color: #fff;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
}
.y_tanchuClose_btn{width:122px; height:30px; line-height:30px; background:#CCCCCC; color:#fff; border:0px; font-size:14px; cursor:pointer;margin: 0 10px;}
.y_tk{
	display: none;
	padding: 15px 0px;
}
.y_tk select{
	height:26px;
	line-height:26px; 
	border:1px solid #ddd;
}
.y_tk_inputtxt{
	border:1px solid #d3d3d3;
	height: 25px;
	width: 168px;
	line-height: 25px;
}
.b_sy_tit{ width:70px; text-align:center; height:47px;border-left:1px solid #d2d2d2; font-size:16px; color:#21984e;}
.b_sy_tit2{ width:58px; text-align:center; height:47px;border-left:1px solid #d2d2d2; font-size:16px; color:#21984e; line-height:47px}
.b_sy_tab{ float:left}
.b_sy_tab td{ text-align:left; padding-bottom:5px; font-size:14px}

/*下拉菜单 开始*/
/* .b_dingwei{ position:relative; z-index:1} */
.j_search .search{border:2px solid #f58400;height:34px;;width:78px;border-right:0; float:left}
.j_search .search select{display:none;}
.j_search .search .select_box{font-size:12px;color:#999999;width:78px;line-height:35px;float:left;position:relative; z-index: 1}
.j_search .search .select_showbox{height:35px;background:url(../images/search_ico.png)  no-repeat 63px center;text-indent:8px;}
.j_search .search .select_showbox.active{background:url(../images/search_ico_hover.png) no-repeat 63px center;}
.j_search .search .select_option{border:2px solid #f58400;border-top:none;display:none;left:-2px;top:33px;position:absolute;z-index:99;background:#fff; padding-top:0; width:78px;}
.j_search .search .select_option li{text-indent:1em;width:78px;cursor:pointer; padding:0; margin:0; height:inherit; line-height:inherit}
.j_search .search .select_option li.selected{background-color:#F3F3F3;color:#999;}
.j_search .search .select_option li.hover{background:#BEBEBE;color:#fff;}
/*下拉菜单 结束*/

.b_erji_nav{ width:210px; position:relative; float:left}
.b_erji_nav h3{ height:36px; line-height:36px; background:#21984e; color:#fff; font-size:16px; font-weight:400; padding-left:15px}
.b_erji_nav ul{ width:210px;}
.b_erji_nav ul li{ height:41px; line-height:41px; border-left:2px solid #21984e;border-right:2px solid #21984e; font-size:14px; cursor:pointer; text-indent:34px}
.erji_li1{ background:url(../images/jinglingtu.png) -11px -262px no-repeat}
.erji_li2{ background:url(../images/jinglingtu.png) -11px -353px no-repeat}
.erji_li3{ background:url(../images/jinglingtu.png) -12px -436px no-repeat}
.erji_li4{ background:url(../images/jinglingtu.png) -13px -518px no-repeat}
.erji_li5{ background:url(../images/jinglingtu.png) -13px -588px no-repeat}
.erji_li6{ background:url(../images/jinglingtu.png) -13px -655px no-repeat; border-bottom:2px solid #21984e}
/*二级导航*/
.li_con{ width:460px; height:260px; border:2px solid #21984e; position:absolute; left:210px; top:0px; border-left:0; padding:10px 2px 10px 2px; background:#FFF; z-index: 1}
.b_erji_nav ul .b_on2{ border-right:none; color:#21984e;}
.b_erji_nav ul .b_on2 span{ display:block; width:210px; height:36px; line-height:36px; border-top:2px solid #21984e; border-bottom:2px solid #21984e}
.b_erji_nav ul .b_on2 .border_span{height:39px;}
.li_con dl{ border-bottom:1px dotted #dadada; padding-left:10px}
.li_con dl dt{margin:7px 0; overflow:hidden}
.li_con dl dd{ overflow:hidden}
.li_con dl dt a{ font-weight:bold}
.li_con dl a{ display:block; float:left; padding:0 15px 10px 0}
/*首页轮播*/
.b_banner{ float:left; margin-left:10px; position:relative;/* z-index:-1 *//*兼容IE 7G写法家定位*/}
.www51buycom { width: 620px; height:284px;position: relative; overflow:hidden; }
.www51buycom .num { overflow:hidden; height: 25px; position: absolute; bottom:-10px; left:260px; }
.www51buycom .num li { width: 25px; height: 4px; color: #fff; background: #fff; font-size: 0; margin-right: 10px; cursor:pointer; float: left; }
.www51buycom .num li.on { background: #FF7700; color: #FF7700 }
.www51buycom .prev,.www51buycom .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 95px;}
.www51buycom .prev { left: 0; }
.www51buycom .next { right: 0; background-position: right }
/*首页右侧切换*/
.b_nav_right{ width:250px}
.right_nav_ul1{ overflow:hidden; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3;}
.right_nav_ul1 li{ float:left; width:82px; height:32px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; text-align:center; line-height:32px; font-size:16px; cursor:pointer; color:#505050}
.right_nav_ul1 .b_sy_li3{ width:77px; text-align:right; padding-right:5px}
.right_nav_ul1 .b_sy_li3 a{ font-size:12px; color:#7f7f7f}
.right_nav_ul1 .b_sy_li3 a:hover{ color:#21984e}
.b_smallnav{ overflow:hidden; height:290px}
.right_main_ul1{ height:111px; border:1px solid #e3e3e3; border-top:none; padding-top:5px}
.right_main_ul1 li{ height:26px; line-height:26px; overflow:hidden; background:url(../images/dian.png) 9px center no-repeat; padding-left:20px;}
.b_hunbao120{ width:248px; height:126px; border:1px solid #e3e3e3; margin-top:6px}
.b_hunbao120 h3{ height:35px; color:#21984e; font-size:14px; font-weight:400; text-align:center; line-height:35px}
.b_mom_area1{ width:218px; height:36px; border:1px solid #e3e3e3; padding:5px; color:#b3b3b3; margin-left:9px; outline:none}
.huanbao120_div{ overflow:hidden; margin:3px 0 0 9px}
.b_mom_txt1{ width:112px; height:27px; line-height:27px; padding-left:5px; border:1px solid #e3e3e3; outline:none; color:#b3b3b3}
.b_mom_btn1{ width:104px; height:28px; line-height:28px; text-align:center; color:#FFF; font-size:12px; background:#f58100; border:0; cursor:pointer}
.b_mom_btn1:hover{
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity:0.8;
}
.right_nav_ul1 .on_li{ border-top:2px solid #21984e; border-right:1px solid #e3e3e3; border-bottom:0; color:#21984e}
.right_nav_ul1 .on_li2{ border-top:2px solid #21984e; border-bottom:0; border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3; color:#21984e}
/*首页补充*/
.b_border_lv{ border-top:2px solid #21984e}
.b_fl_img{padding:5px;}
.b_fl_img li{ float:left; width: 119px; height:58px; text-align:center;}
.b_gundong_ul .yel:hover{ color:#f58100}
.b_gundong_div{ width:276px; height:230px; overflow:hidden}
/*展厅-前台*/
/*采购单*/
.b_zldd_img{ margin:40px 0 20px} 
.b_cgd_tab{ border:1px solid #ddd; background:#FFF; margin-top:15px; color:#767676}
.b_cgd_tab a:hover{ text-decoration:underline}
.b_cgd_tab td{ height:34px; text-align:center}
.b_cgd_tab .cgd_tr1 td{ text-align:left; background:#fff; padding-left:12px; border-bottom:1px solid #ddd}
.b_num input{ width:21px; height:22px; background:#f2f2f2; border:none; float:left; color:#767676; line-height:22px}
.b_num{ border:1px solid #ddd; width:89px; height:22px; overflow:hidden; margin:0 auto}
.b_num .text_box{ width:45px; text-align:center; background:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd}
.cgd_tab_ul li{ margin-bottom:12px;}
.cgd_tab_ul{ padding-top:10px}
.y_red_btn{
	display: block;
	width: 41px;
	height: 20px;
	line-height:20px;
	border: 1px solid #f58100;
	text-align: center;
	color: #f58100;
	margin: 0px auto;
	transition: all 0.2s linear 0s; 
	-moz-transition: all 0.2s linear 0; 
	-ms-transition: all 0.2s linear 0; 
	-o-transition: all 0.2s linear 0; 
	-wenkit-transition: all 0.2s linear 0;
}
.y_red_btn:hover{
	display: block;
	width: 41px;
	height: 20px;
	border: 1px solid #f58100;
	text-align: center;
	color: #fff;
	margin: 0px auto;
	background: #f58100;
	
}
/*提交订单*/
.b_jy_h2{ height:30px; line-height:30px; font-size:14px; background:url(../images/lvshuxian01.jpg) no-repeat 2px center; padding-left:16px; margin-top:20px}
.b_cgd_tab .b_lv_tr td{ border-bottom:1px solid #21984e}
.b_cgd_tab .padding_tr td{ padding:15px 0}

.b_heji{ width:422px; height:70px; line-height:70px; background:#FFF; border:2px solid #f58100; color:#f58100; text-align:right; padding-right:25px; float:right; margin-bottom:10px; font-size:14px}
.b_tjdd_btn{ width:155px; height:38px; line-height:38px;border:0; background:#f58100; color:#FFF; font-size:16px; cursor:pointer;transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0; -ms-transition: all 0.2s linear 0; -o-transition: all 0.2s linear 0; -wenkit-transition: all 0.2s linear 0;}
.b_tjdd_btn:hover{
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	
	}
.b_heji_ul{ overflow:hidden; margin:20px 0}
.b_heji_ul li{ text-align:right; overflow:hidden; margin:15px 0 0 0; color:#767676}
/*确认收货地址*/
.b_shou_dizhi{ border:1px solid #ddd; width:1098px}
.b_shou_dizhi ul{ height:45px; line-height:45px; color:#767676; cursor:pointer; padding:0 25px}
.b_radio{ vertical-align:-2px; margin-right:5px}
.b_tjdz{ display:block; width:144px; height:27px; line-height:27px; text-align:center; border:1px solid #f58100; color:#f58100; cursor:pointer; background:url(../images/b_img05.jpg) no-repeat 10px center; padding-left:15px}
.b_tjdz:hover{ color:#f58100}
.b_tjdz_div{padding:17px 25px;}
.b_tubiao2{ background-image:url(../images/tubiao02.png); background-position:6px center; background-repeat:no-repeat}
/*新增弹框杨东彪*/
.t_ckzh{padding:10px 5px;}
.t_ckzh td{ height:40px; line-height:40px;}
.t_textright{ text-align: right; }
.t_textcenter{ text-align: center;padding-top: 10px;}
.t_textleft, .y_right_table .t_textleft{ text-align: left; padding-left: 8px; color: #333;}
.l_gsxx{width:235px; height:27px; border:1px solid #d3d3d3; line-height:27px; color:#090909; /*text-indent:10px;*/padding:0px 10px;}
.t_backred, .t_backhui{ border: 0; margin-left: 10px; background: #f58100; color: #fff; border-radius: 3px; width:90px; height: 26px; line-height: 26px; text-align: center; }
.y_btn{cursor: pointer;}
.t_backhui{ background: #dfdfdf;color: #464646; }
.b_shou_dizhi ul:hover{ background-color:#f2fcf7}
/* 列表页-贾丽颖 */
.y_position{ height: 46px; line-height:46px; color: #505050; margin-top: -10px;}
.y_position span{ padding:0 5px; color: #505050 }
.t_input_ss{ width:249px; height:21px; line-height:21px; padding-left:5px; color: #a9abac; border:1px solid #e1e1e1; background:#fff; font-size: 12px }
.t_serch{position:relative; z-index:1; width:249px; height:23px;}
 html > body .t_serch {*top:3px;} 
  html > body .y_search_part .t_serch {*top:0px;} 
.t_ss_bton{ background:url(../images/jinglingtu.png) -25px -750px no-repeat; position:absolute; width:21px; height:21px; border:none; cursor:pointer; top:-3px; right:11px; z-index:10; }
 html > body .t_ss_bton {*top:1px;}
.y_list_all{
    width: 1100px;
    overflow: hidden;
    margin-bottom: 10px;
}
.y_left_list{
    width: 802px;
    border: 1px solid #e3e3e3;
}
.y_right_small{
    width: 287px;
}
.y_list_page li{
    line-height: 44px;
    background-position: -30px -50px;
    border-bottom: 1px solid #f2f2f2;
}

/*翻页*/
.t_fy{ text-align:center; padding:30px 0; line-height:26px; }
.t_fy span, .t_fy a{ padding:4px 10px; height:26px; line-height:26px; border:1px solid #dddddd; margin-left: 5px; }
.t_fy span.t_xzhg, .t_fy a:hover{ background:#21984e; border:1px solid #21984e; color:#fff;}
.t_inpt_tz{ width:37px; border:1px solid #ddd; height:26px; line-height:26px; text-align:center; margin:0 5px;}
.t_qdred{ background:#21984e; color:#fff; height:26px; width:40px; line-height:26px; border:0; margin-left:5px;}

.y_small_list{
    width: 285px;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.y_small_list_tit{
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    height: 33px;
}
.y_small_list_tit .l_left{
    color:#21984e;
    background: url('../images/jinglingtu.png') -380px -111px no-repeat;
    padding-left: 25px;
    line-height: 33px;
    padding-top: 0;
}
.y_small_list_tit .l_font_color{
    line-height: 33px;
    padding-right: 5px;
}

/* 资讯详情页-贾丽颖 */
.y_news_txt{
    padding: 15px;
}
.y_news_txt h3.y_h3{
    font-weight: normal;
    text-align: center;
    line-height: 40px;
    display: block;
    padding: 10px 0;
    font-size: 14px;
}
.y_news_txt .y_span{
    display: block;
    text-align: center;
    color: #515151;
    padding-bottom: 20px;
}
.y_p{
    color: #515151;
    line-height:28px;
    text-indent: 2em;
    padding-bottom: 20px;
}
.y_txt_page{
    display: block;
    text-align: left;
    line-height: 32px;
}
.y_txt_page a{
    color: #a0a0a0
}
.y_txt_page a:hover{
    color:#21984e;
}
.y_right_small .b_hunbao120{
    width: 285px;
}
.y_right_small .b_mom_area1{
    width: 255px;
}
.y_right_small .b_mom_txt1{
    width: 150px;
}


/* 供方名录 */
.y_search_part{
    width: 1098px;
    border: 1px solid #dddddd;
    border-top: 1px solid #21984e;
    margin: 0px auto;
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;
}
.y_search_part dl{
    border-bottom: 1px dotted #e0e0e0;
    height: 40px;
    line-height: 40px;
    display: block;
}
.y_search_part dl:last-child{
    border-bottom: 0px;
}
.y_search_part dl dt{float:left;text-align:right; width: 120px;color: #666666;}
.y_search_part dl dd select{
    margin-left: 10px;
    border: 1px solid #e1e1e1;
    vertical-align: -1px;
    color: #666666;
}
.y_company_list{
    width: 1100px;
    display: block;
    padding-bottom: 15px;
}
.y_company_list li{
    width: 1098px;
    display: block;
    border: 1px solid #d4d4d4;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0; -ms-transition: all 0.2s linear 0; -o-transition: all 0.2s linear 0; -wenkit-transition: all 0.2s linear 0;
}
.y_company_list li:hover{
    box-shadow: 2px 2px 5px #ccc;
}
.y_company_list li .fl{
    padding: 50px 20px;
    width: 508px;
}
.y_company_list li .fl a.company_pro{
    width: 140px;
    height: 140px;
    border: 1px solid #d4d4d4;
    float: left;
    text-align: center;
}
.y_company_txt{
    float: left;
    padding-left: 20px;
}
.y_company_txt a{
    font-size: 16px;
    color: #21984e;
    display: block;
    text-align: left;
    padding: 15px 0;
}
.y_company_txt span{
    display: block;
    color: #515151;
    line-height: 30px;
}
.y_company_list li .fr{
    width: 509px;
    overflow: hidden;
    background: #f8f8f8;
    padding: 10px 20px;
    border-left: 1px solid #d4d4d4;
}
.y_company_product{
    width: 554px;
    overflow: hidden;
    display: block;
    margin-right:-43px;
}
.y_company_product li{
    display: block;
    float: left;
    padding-right:43px;
    width: 141px;
    border: 0;
}
.y_company_product li:hover{
    box-shadow:none;
}
.y_company_product li span.y_company_pro_img{
    width: 139px;
    height: 139px;
    border: 1px solid #d7d7d7;
    display: block;
    text-align: center;
}
.y_company_product li span{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 20px;
    padding-top:5px;
}
.y_company_product li span font,.y_company_product li span h3{
    font-size: 12px;
    font-weight: normal;
    color: #515151;
}
.y_company_product li span font{
    color: #f58100;
    float: left;
}
.y_company_product li span h3{
    float: right;
}

.y_short_dt dl dt{width: 80px;}


/* 企业动态 */
.y_small_list_down{
    margin-top: 10px;
}
.y_small_piclist li{
    width: 50%;
    float: left;
    background: none;
    padding: 0;
    margin-bottom: 15px;
}
.y_small_piclist li a span{
    display: block;
    width: 78px;
    height: 78px;
    border: 1px solid #dddddd;
    margin: 0px auto;
    margin-bottom: 5px;
    text-align: center
}
.y_small_piclist li a{
    text-align: center;
    color: #272727;
    display: block;
    line-height: 20px;
}

/* 产品展示 */
.y_border_list_all{
    width: 1098px;
    border: 1px solid #e3e3e3;
}
.y_fb_btn{
    width: 84px;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    background: #f58100;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 3px;
}
.y_pro_list{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}
.y_pro_list ul{
    width: 1050px;
    display: block;
    margin-right: -50px;
}
.y_pro_list li{
    display: block;
    float: left;
    width:160px ;
    padding-right:50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 231px;
}
.y_pro_list li span.y_pro_img{
    border: 1px solid #e6e6e6;
    text-align: center;
    margin-bottom: 5px;
}
.y_pro_list li span,.y_pro_list li font{
    display: block;
}
.y_pro_list li font{
    margin-top: 8px;
    background: url('../images/jinglingtu.png') -390px -415px  no-repeat;
    padding-left: 19px;
    font-size: 12px;
    color: #959595;
}
/* 知名品牌 */
.y_search_part_left{
    width: 800px;
    float: left
}
.y_logo_list{
    width: 726px;
    margin: 0px auto;
    overflow: hidden;
}
.y_logo_list ul{
    display: block;
    width: 756px;
    margin-right: -30px;
}
.y_logo_list li{
    padding-right: 30px;
    width: 159px;
    float: left;
    padding-right: 30px;
    margin-top: 15px;
}
.y_logo_list li span{
    display: block;
    width: 157px;
    height: 157px;
    border: 1px solid #e6e6e6;
    text-align: center;
}
.y_logo_list li font{
    color: #515151;
    text-align: left;
    display: block;
    padding-top: 8px;
    font-size: 12px;
}
.y_logo_list li a:hover font{
    color: #21984e;
}
.y_txt_img{
    width: 154px;
    height: 154px;
    border: 1px solid #e6e6e6;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: -10px;
    display: block;
    text-align: center;
}
.y_smaller{
    width: 80px;
}
.y_smaller2{
    margin-left: 10px;
}
.y_pro_list li .yel{
    margin-top: 8px;
    font-size: 14px;
}
span.y_pro_tit{
    height: 34px;
}

/* 需方名录*/
.y_img_xf{
    width: 78px;
    height: 78px;
    display: block;
    text-align: center;
    margin-right: 15px;
    float: left;
    border: 1px solid #dddddd;
}
.y_xfml_list li{
    line-height: 22px;
    height: 80px;
    padding:15px 11px 15px 0 
}
.y_xfml_list{
    margin-bottom: -15px;
}
/* 环保工程 */
.y_hbgc_table td{
    padding:12px 0;
    line-height: 20px;
    border-bottom: 1px solid #f2f2f2;
    color: #a4a4a4;
    font-size: 12px;
    text-align: center;
}
.y_hbgc_table td font{
    font-size: 12px;
}
.y_table_tit td{
    font-size: 14px;
    background: #f9f9f9;
    border: 0;
    color: #6b6b6b;
}
.y_hbgc_table td.y_left{
    text-align: left;
    padding-left: 20px;
    color: #515151
}
.y_table_tit td.y_left{
    padding-left: 120px;
}
b.y_key{
    font-weight: normal;
    color: #f58100;
}
.y_left_list .l_left{
    padding-left: 0;
    text-align: center;
    width: 85px;
}

/* 产品分类 */
.y_classes{
    display: block;
    width: 1100px;   
    overflow: hidden;
    margin: 15px 0;
}
.y_classes li{
    margin-top: 15px;
}
.y_classes li a.y_classes_name{
    display: block;
    font-size: 18px;
    color: #808080;
    padding-left: 25px;
    background: url('../images/jinglingtu.png') -387px -531px no-repeat;
}
.y_classes_txt{
    border: 1px solid #e3e3e3;
    padding:10px 15px;
    width: 1068px;
    margin-top: 10px;
    border-top-width: 2px;
}
.y_classes_txt table td{
    vertical-align: top;
}
.y_middle_name{
    color: #252525;
    font-size: 14px;
    padding: 8px 0;
    display: block;
}
span.y_small_name{
    display: block;
}
span.y_small_name a{
    color: #666666;
    font-size: 12px;
    line-height: 2em
}
.y_classes li a:hover{
    color: #21984e;
    text-decoration: underline;
}


/*登录*/
.t_main{ width:1145px; margin:0 auto; overflow:hidden;}
.t_top{ width:100%; height:117px; padding-top:18px; background:#fff; box-shadow: 0px -3px 29px #B1AFAF; position: relative; top: 0; left: 0}
.t_logo{height:93px; float:left;}
.t_logo a{ display:block; float: left; margin-bottom: 20px}
.t_tle{ font-size:30px; width:210px; float:right; background:url(../images/dl_tle.png) no-repeat 0 31px; padding-left:40px; padding-top:24px; color: #5f5f5f}
.t_logo span{
    display: block;
    float: left;
    font-size: 24px;
    color: #5f5f5f;
    padding-top: 60px;
}
.t_dlbg{ background:url(../images/login_bg.jpg) no-repeat center; height:604px;}
.t_dlbox{ width:310px; float:right; padding-top:136px;}
.t_dl_tle{ height:58px; line-height:58px; font-size:16px; font-weight:bold;}
.t_dl_sr li{ display:block; padding-bottom:12px; height:40px;}
.t_dl_sr input.t_input1,.t_dl_sr input.t_input2{ width:251px; height:38px; line-height:38px; border:1px solid #ccc; padding-left:35px; color: #ccc}
.t_dl_sr input.t_input1{ background:url(../images/jinglingtu.png) no-repeat -15px -827px;}
.t_dl_sr input.t_input2{ background:url(../images/jinglingtu.png) no-repeat -15px -887px;}
input.t_dl_bton{ background:#fe6600; text-align:center; border:0; padding:0; color:#fff; font-size:16px; width:288px; height:38px; line-height:38px; cursor:pointer;transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0; -ms-transition: all 0.2s linear 0; -o-transition: all 0.2s linear 0; -wenkit-transition: all 0.2s linear 0;}
.t_dl_sr li.t_ts{ line-height:30px; padding:0;}
.t_dl_sr li.t_ts span{ display:block; width:222px; float:left; }
.t_dl_sr li.t_ts span a{ color:#fe6600;}
.t_dl_sr li.t_ts span a:hover{ text-decoration:underline;}
.t_dl_sr li.t_ts a.t_wjmm{ display:block; color:#666; float:left; text-align:right; width:67px;}
.t_dl_sr li.t_ts a.t_wjmm:hover{ color:#21984e;}

/*注册*/
.t_main_bor{ width:1063px; margin:0 auto; overflow:hidden; border:1px solid #d5d5d5; background:#fff; padding:0 40px 40px 40px; margin-top:40px; margin-bottom:20px; font-size: 14px;}
.t_dl_tle span{ font-size:20px; font-weight:normal; padding-left:10px; color: #5f5f5f; font-family: microsoft yahei}
.t_zctsbt{ width:520px; overflow:hidden;}
.t_zctsbt dl{ padding:10px 0; display:block; overflow:hidden; text-align:center;}
.t_zctsbt dt, .t_zctsbt dd, .t_zhmm_xx dd{ display:block; float:left;}
.t_zctsbt dd, .t_zhmm_xx dd{ border:1px solid #fe986b; height:34px; line-height:34px; margin-left:10px; padding:0 5px 0 22px; background:#fcece1 url(../images/jinglingtu.png) -22px -1148px no-repeat;color: #666666; font-size: 12px;}
.t_bt{ width:100px; font-size:14px; height:36px; line-height:36px; text-align:right;}
.t_srk{ line-height:34px}
.t_srk input.y_user,.t_srk input.t_mm,.t_srk input.t_gsmc,.t_srk input.t_sjhm,.t_srk input.t_hqm{ color:#7e7e7e; width:270px; height:34px; line-height:34px; border:1px solid #ccc; padding-left:10px;}
.t_srk input.t_mm{ background:url(../images/jinglingtu.png) no-repeat 233px -970px;}
.t_srk input.t_gsmc{background:url(../images/jinglingtu.png) no-repeat 233px -1016px;}
.t_srk input.t_sjhm{background:url(../images/jinglingtu.png) no-repeat 233px -1062px;}
.t_srk input.t_hqm{ width:120px; background:#fff; border-left:none; height:36px; padding:0; cursor:pointer; color: #010101}
.t_yd{ padding-left:100px; text-align:left; height:25px; line-height:25px; font-size: 12px; color: #9c9a9a; display: none}
.t_right_ts{ padding-top:80px; overflow:hidden; font-size:14px; line-height:36px;}
.t_zctsdl{ border-bottom:1px solid #e5e1e2; padding-bottom:20px; line-height:50px;}
.t_right_ts input.y_btn{ background:#fe6600; color:#fff; margin-left: 5px; font-size:16px; width:107px; height:37px; border:0;transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0; -ms-transition: all 0.2s linear 0; -o-transition: all 0.2s linear 0; -wenkit-transition: all 0.2s linear 0; cursor:pointer;}
.t_qqkf{ padding-top:10px;}
.y_radio{
    vertical-align: -1px;
    margin-left: 15px;
}
.y_radio2{
    vertical-align: -2px;
    margin-right: 5px;
}
.y_blue{
    color: #0564d2;
}
/* 找回密码 */
.t_padd{ padding-top:70px}
.t_zhmm_tle{ background:url(../images/get_part1_03.jpg) no-repeat top; padding-top:40px; overflow:hidden; height:52px;}
.t_zhmm_tle2{ background:url(../images/get_part2.jpg) no-repeat top; padding-top:40px; overflow:hidden; height:52px;}
.t_zhmm_tle3{ background:url(../images/get_part3.jpg) no-repeat top; padding-top:40px; overflow:hidden; height:52px;}
.t_zhmm_xx{ padding-left:290px; padding-top:100px;}
.t_zhmm_xx dl{ display:block; overflow:hidden; padding:10px 0;}
.t_bt_zhmm{ padding:60px 0 60px 440px; overflow:hidden;}
.t_bt_zhmm a{ font-size:16px; margin-left:10px;}

.red{
    color: #ee3a3d
}

.t_czmmcg{ background:url(../images/iconfont-queren.png) no-repeat 360px 130px; height:270px; padding-left:500px; padding-top:130px; line-height:50px;}
.t_czmmcg font{ font-size:24px; color:#000;}


/* 新增样式 */
.y_company_list li .yel{
    font-size: 14px;
    float: left;
    width: auto;
}
.y_company_list li font.y_address{
    margin-top: 8px;
    background: url('../images/address.png') 5px 2px  no-repeat;
    padding-left: 19px;
    font-size: 12px;
    color: #959595;
    float: right
}
.y_pplogo_list li span{
    height: 77px;
}
.l_foot a:hover{
    text-decoration: underline;
}
.y_pplogo_list li a span{
    height: 38px;
}