* {
	padding:0px;
	margin:0px;
}
li {
	list-style: none;
}
.www51buycom {
	position: relative; 
	overflow:hidden;
}
.www51buycom .num { 
	position: absolute;
	left: 400px; 
	bottom: 10px; 
	z-index:3;
}
.www51buycom .num li { 
	width: 25px; 
	height: 25px; 
	border-radius: 50%;
	background: #fff; 
	margin-right: 10px; 
	cursor:pointer; 
	float: left; 
}
.www51buycom .num li.on { 
	background: #FF7700; 
	color: #FF7700 
}

