.triangle {
    width: 0;
    height: 0;       
    border-right: 10px solid transparent;
    border-top: 15px solid #c59c53;
}


/*================inline-block=================*/
.block,
.inline {
    display: inline-block;        
    width: 300px;
    height: 200px;
    background-color: red;
}
/*if you will switch block*/
.block {
    display: inline-block;
    /* *IE7及已下识别，触发haslayout  */
    *display: inline;
    *zoom: 1;
}
/*==========end inline-block===================*/

/*========max and min ========================*/
.max-min {
    max-width: 300px;
    min-height: 200px;
    background-color: blue;
}
/*==========end max and min=====================*/

/*===========background acronym====================*/
/*
<' background-image '>：
    指定对象的背景图像。可以是真实图片路径或使用渐变创建的“背景图像”
<' background-position '>：
    指定对象的背景图像位置。
<' background-size '>：
    指定对象的背景图像的尺寸大小。
<' background-repeat '>：
    指定对象的背景图像如何铺排填充。
<' background-attachment '>：
    指定对象的背景图像是随对象内容滚动还是固定的。
<' background-origin '>：
    指定对象的背景图像显示的原点。
<' background-clip '>：
    指定对象的背景图像向外裁剪的区域。
<' background-color '>：
    指定对象的背景颜色。*/

 /*由于写在前面的背景会叠在之后的背景之上，所以背景色通常都定义在最后一组上，避免背景色将图像盖住。*/
.bg {
    background: url(test1.jpg) no-repeat scroll 10px 20px/110px 130px content-box padding-box #aaa;
}
/*=======end background ancronym================*/


/*========site font ======================*/
.site-font {
    font:italic small-caps bold 18px/2 Simsun,arial,sans-serif;
}
/*===========end font ====================*/
