/*防止 iOS 横屏字号放大*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*设置正确的块级元素*/
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
main {
  display: block;
}
/*去掉自带的margin和padding样式*/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

/*统一字体*/
body, button, input, select, textarea, optgroup {
    font: 12px/1.5 "Microsoft Yahei",arial,sans-serif;
}

/*label 元素给予手型，暗示此处可点击*/
label {
    cursor: pointer;
}
/* 修正未定义为「inline-block」的元素*/
audio,
canvas,
video,
progress {
  display: inline-block;/* 1 */
  vertical-align: baseline;/* 2 */
}

/**
* 1. 修正所有浏览器中字体不继承的问题
* 2. 修正所有浏览器中字号不继承的问题
* 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题
* 4. Webkit（chrome）浏览器中输入（文本框）或textarea的黄色焦点框
*/
input, button, select, textarea {
    outline: none; /*4*/
    font-family: inherit;/* 1 */
    font-size: 100%;/* 2 */
    margin: 0;/* 3 */
}

/*禁止文本域拉伸*/
textarea {
    resize: none;
}

/*去掉h系列大号加粗字体*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/*去掉q的引号*/
q {
    quotes: none;
}

/*去掉斜体*/
address, cite, dfn, em, var, i {
    font-style: normal;
}

/*格式化代码，设置等宽字体*/
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*font-size: 80%; 是相对于父元素的百分比*/
small {
    font-size: 80%;
}

/*设置正确的加粗*/
strong, b {
    font-weight: bold;
}

/*去掉列表样式*/
ol, ul {
    list-style: none;
}

/*阻止sub和sup影响行高*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

/*
* 1. 去掉a标签的下划线
* 2. 移除iOS 8+ and Safari 8+的差异
*/
a {
    text-decoration: none; /*1*/
  -webkit-text-decoration-skip: objects; /* 2 */
}

/*去掉点击时的焦点框，保证键盘可以使用焦点框*/
a:active,
a:hover {
    outline-width: 0;
}

/*合并单元格边框*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*单元格添加边框*/
table th,
table td {
    border: 1px solid #ddd;
    padding: 8px 10px;
}

/*表头底部边框*/
table th {
    font-weight: inherit;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

/*添加正确的display样式 iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/*添加正确的隐藏*/
[hidden],
template {
  display: none;
}

/**
* 1. 避免 Android 4.0.* 中的 WebKit bug ，该bug会破坏原生的「audio」 和「video」的控制器
* 2. 更正 iOS 中无法设置可点击的「input」的问题
* 3. 统一其他类型的「input」的光标样式
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * 添加正确的增加和减少按钮的光标样式在chrome浏览器。
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
* 1.移除 OS X 中 Safari5 和 Chrome 搜索框内侧的左边距
*/
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
* CSS 三角形组件
*/
.arrow {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: -2px;
  border: 0 dashed transparent;
  border-width: 6px;
}

/* ◤左上角 */
.arrow-left-top {
  border-top-style: solid;
  border-top-color: #2ab2df;
  border-left-width: 0 !important;
}

/* ◥右上角 */
.arrow-right-top {
  border-top-style: solid;
  border-top-color: #2ab2df;
  border-right-width: 0 !important;
}

/* ◣左下角 */
.arrow-left-bottom {
  border-bottom-style: solid;
  border-bottom-color: #2ab2df;
  border-left-width: 0 !important;
}

/* ◢右下角 */
.arrow-right-bottom {
  border-bottom-style: solid;
  border-bottom-color: #2ab2df;
  border-right-width: 0 !important;
}

/*另一种方式*/
.triangle {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 30px solid #c59c53;
    float: right;
    margin-left: -9px;
}
/**
* 文字溢出显示省略号
*/
.ellipsis {
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
* 统一用双线显示人民币符号「&yen;(￥)」
*/
.rmb {
  font-family: arial;
  font-style: normal;
}

/*ios4.3+ android2.2+ 需要真机测试*/
.elli {
    width: 200px;
    display: -webkit-box;    /*1.设置display类型为-webkit-box*/
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;        /*2.设置元素超出隐藏*/
    text-overflow: ellipsis; /*3.设置超出样式为省略号*/
    -webkit-line-clamp: 2;   /*4.设置2行应用省略*/
    -webkit-box-orient: vertical;
}

/*用伪类设置图文排版 android2.1+ ios3.1+*/
.before::before {
    content: '';
    display: inline-block;
    background: url("../img/cc.png") center center no-repeat;
    background-size: contain;
    width: 17px;
    height: 14px;
    margin: 0 5px -2px 0;
}

/*::selection只能定义被选择时的background-color，color及text-shadow。android2.1+ ios3.2+*/
.before::selection {
  background-color: red;
  /*color: red;*/
}

/*选择器支持*/
/*:not()  android2.1+ ios3.2+*/
/*.border li:not(:last-child) { border-bottom: 1px solid #ddd;}*/
/*:first-child :last-child  :noly-child :nth-child(可以用负数) :nth-of-type()同类元素  :empty (匹配没有子元素的元素)*/

/*移动端不随软键盘升起而抬高的情况*/
input:focus{-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
 -webkit-user-modify:read-write-plaintext-only;}


/*placeholder占位符颜色自定义*/
input:-moz-placeholder {color: #369;}
::-webkit-input-placeholder {color:#369;}


/*CSS判断横屏竖屏*/
@media screen and (orientation: portrait) {
  /*竖屏 css*/
}
@media screen and (orientation: landscape) {
  /*横屏 css*/
}

/*移除HTML5 input在type="number"时的上下小箭头
在chrome下：*/
  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
      -webkit-appearance: none !important;
      margin: 0;
  }
/*Firefox下：*/
  input[type="number"]{-moz-appearance:textfield;}

  html {
   filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
}


                <span class="l_list">
                    <span class="l_item">工艺：釉上彩;</span>
                    <span class="l_item">适用人数：5人;</span>
                    <span class="l_item">材质：45</span>
                </span>
