/*导航*/
.nav {
    height: 79px;
    margin-top: 32px;
    font-family:  Microsoft YaHei;    
    overflow:hidden;
}
.item_first {
    float: left;
    text-align: center;
    
    width: 21%;
    padding: 17px 0;
}
.item {
    display: block;
    float: left;
    width: 127px;
    height: 70px;    
    text-align: center;
    /*解决代码*/
    line-height:31px;
}
.item_first a {
    padding-right: 24%;
    border-right: 1px solid #bfbfbf;    
}
/*.item a {
    padding: 25px 0;    
}*/
.item a:hover {
    border-bottom: 3px solid #1589ff;
}
/*轮播*/
.b_banner{ width:100%; height:487px; margin:0 auto;}
.b_banner .focus { height: 487px; position: relative; overflow: hidden; }
.b_banner .focus ul li { overflow: hidden; zoom:1; width:100%; height:487px;}
.b_banner .focus ul .b_ban_tu1{ background:url(../images/bg.png) no-repeat center top;}
.b_banner .focus ul .b_ban_tu2{ background:url(../images/bg.png) no-repeat center top;}
.b_banner .focus ul .b_ban_tu3{ background:url(../images/bg.png) no-repeat center top;}
.b_banner .focus ol { height: 22px; position: absolute; left: 0px; bottom: 10px; width: 800px; padding-left: 10px; margin:0 0 0 46%; }
.b_banner .focus .page-l { width: 40px; height: 100px; background: url(../images/index.png) 0px 0px; position: absolute; left: 0%; top:40%; cursor:pointer; }
.b_banner .focus .page-r { width: 40px; height: 100px; background: url(../images/index.png) -50px 0px; position: absolute; right: 0%; top:40%; cursor:pointer; }
.b_banner .focus ol li { width: 18px; height: 18px; background:#FFF; float: left; text-align: center; line-height: 22px; margin: 0 5px; cursor: pointer; border-radius: 50%;}
.b_banner .focus ol li.current{ background:#ed2b35}
