blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 "Microsoft Yahei",arial,sans-serif;
}
button, h1, h2, h3, h4, h5, h6, input, select, textarea {
    font-size: 100%;
}
address, cite, dfn, em, var, i {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
small {
    font-size: 80%;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a, input, textarea {
    outline: none;    
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000000;
}
fieldset, img {
    border: 0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.col-extra, .col-sub {
    float: left;
}
.col-extra::after, .col-sub::after, .layout::after, .main-wrap::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

/*common*/
/*clear float*/
.clearfix:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
/*文本超出省略*/
.eli {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*同一行显示不换行,强制在同一行内显示所有文本，合并文本间的多余空白，直到文本结束或者遭遇br对象。*/
.line {
    white-space:nowrap;
}
/*单词内换行,内容将在边界内换行。如果需要，单词内部允许断行。*/
.letter {
    word-wrap:break-word;
}
/*该行为与亚洲语言的normal相同。也允许非亚洲语言文本行的任意字内断开。该值适合包含一些非亚洲文本的亚洲文本，比如使连续的英文字母间断行。*/
.word {
    word-break: break-all;
}