body,ul,li {
    margin: 0;
    padding: 0;
}
.in {
    position: relative;    
    width: 87.9%;    
    margin: 10px auto;        
    height: 31.4vw;
    overflow: hidden;
}
.scroll_list {
    position: absolute;
    width: 95%;    
    height: 39.44vw;
    list-style: none;
}
